In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/cristovalneosasono/DataScience_Foundations/venv/lib/python3.10/site-packages (1.3.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/cristovalneosasono/DataScience_Foundations/venv/lib/python3.10/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/cristovalneosasono/DataScience_Foundations/venv/lib/python3.10/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: scipy>=1.5.0 in /Users/cristovalneosasono/DataScience_Foundations/venv/lib/python3.10/site-packages (from scikit-learn) (1.11.3)
WARNING: You are using pip version 21.3.1; however, version 23.2.1 is available.
You should consider upgrading via the '/Users/cristovalneosasono/DataScience_Foundations/venv/bin/python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import re
from sklearn.impute import SimpleImputer

In [3]:
# Pandas display configuration
pd.set_option("display.max_rows", None)  
pd.set_option("display.max_columns", None)
pd.set_option("display.precision", 2)

In [4]:
nov22_companies_ds = pd.read_csv("November2022_Unicorn_Companies.csv")
mar22_companies_ds = pd.read_csv("March2022_Unicorn_Companies.csv")

In [5]:
# Inspecting dataset 1 with df.head()
nov22_companies_ds.head()

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
0,0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [6]:
# Inspecting dataset 2 with df.head()
mar22_companies_ds.head()

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95,2014-01-23,FinTech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [7]:
# Inspecting dataset 1 with df.info()
nov22_companies_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201 entries, 0 to 1200
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1201 non-null   int64
 1   Company           1201 non-null   object
 2   Valuation ($B)    1201 non-null   object
 3   Date Joined       1201 non-null   object
 4   Country           1201 non-null   object
 5   City              1183 non-null   object
 6   Industry          1201 non-null   object
 7   Select Investors  1200 non-null   object
dtypes: int64(1), object(7)
memory usage: 75.2+ KB

In [8]:
# Inspecting dataset 1 with df.info()
nov22_companies_ds.describe()

       Unnamed: 0
count     1201.00
mean       600.00
std        346.84
min          0.00
25%        300.00
50%        600.00
75%        900.00
max       1200.00

In [9]:
# Merging [nov22_companies_ds] and [mar22_companies_ds] datasets together based on the "Company" column

merged_df = pd.merge(nov22_companies_ds, mar22_companies_ds, on="Company", how="outer")
merged_df.head(5)

,Unnamed: 0,Company,Valuation ($B),Date Joined_x,Country,City_x,Industry_x,Select Investors_x,Valuation,Date Joined_y,Industry_y,City_y,Country/Region,Continent,Year Founded,Funding,Select Investors_y
0,0.0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",100.0,2012-12-01,Other,Hawthorne,United States,North America,2002.0,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,2.0,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",100.0,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008.0,$2B,"Tiger Global Management, Sequoia Capital China..."
3,3.0,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",95.0,2014-01-23,FinTech,San Francisco,United States,North America,2010.0,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,4.0,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",40.0,2018-01-08,Internet software & services,Surry Hills,Australia,Oceania,2012.0,$572M,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [10]:
# Cleaning up the data 

# Dropping unecessary columns
merged_df.drop(columns="Unnamed: 0", inplace=True)

# Merging City
merged_df['City'] = merged_df['City_x'].combine_first(merged_df['City_y'])
merged_df.drop(columns=['City_x', 'City_y'], inplace=True)

# Merging Valutation_($B)
merged_df['Valuation($B)'] = merged_df["Valuation ($B)"].combine_first(merged_df['Valuation'])
merged_df.drop(columns=["Valuation ($B)", 'Valuation'], inplace=True)

# Merging DateJoined
merged_df['DateJoined'] = merged_df["Date Joined_x"].combine_first(merged_df["Date Joined_y"])
merged_df.drop(columns=["Date Joined_x", "Date Joined_y"], inplace=True)

# Merging Industry
merged_df['Industry'] = merged_df['Industry_x'].combine_first(merged_df['Industry_y'])
merged_df.drop(columns=['Industry_x', 'Industry_y'], inplace=True)

# Merging Country/Region
merged_df["Region"] = merged_df['Country'].combine_first(merged_df['Country/Region'])
merged_df.drop(columns=['Country', 'Country/Region'], inplace=True)

# Merging SelectInvestors
merged_df['SelectInvestors'] = merged_df["Select Investors_x"].combine_first(merged_df["Select Investors_y"])
merged_df.drop(columns=["Select Investors_x", "Select Investors_y"], inplace=True)

# Renaming for neater display and better clarification
merged_df.rename(columns={'Region': 'Country'}, inplace=True)
merged_df.rename(columns={"Year Founded": 'YearFounded'}, inplace=True)

# Changing the datatype of YearFounded from float to an int
merged_df['YearFounded'] = pd.to_numeric(merged_df['YearFounded'], errors='coerce').astype('Int64')

In [11]:
merged_df.head(5)

,Company,Continent,YearFounded,Funding,City,Valuation($B),DateJoined,Industry,Country,SelectInvestors
0,ByteDance,NaN,<NA>,NaN,Beijing,$140,4/7/2017,Artificial intelligence,China,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,North America,2002,$7B,Hawthorne,$127,12/1/2012,Other,United States,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,Asia,2008,$2B,Shenzhen,$100,7/3/2018,E-commerce & direct-to-consumer,China,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,North America,2010,$2B,San Francisco,$95,1/23/2014,Fintech,United States,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,Oceania,2012,$572M,Surry Hills,$40,1/8/2018,Internet software & services,Australia,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [12]:
merged_df.tail()

,Company,Continent,YearFounded,Funding,City,Valuation($B),DateJoined,Industry,Country,SelectInvestors
1236,iFood,South America,2011,$592M,Osasco,1.0,2018-11-13,"Supply chain, logistics, & delivery",Brazil,"Movile, Just Eat, Naspers"
1237,Newlink Group,Asia,2016,$655M,Beijing,1.0,2020-07-10,E-commerce & direct-to-consumer,China,"JOY Capital, NIO Capital, Blueflame Capital"
1238,Orbbec Technology,Asia,2013,$200M,Shenzhen,1.0,2018-05-21,Hardware,China,"R-Z Capital, Green Pine Capital Partners, SAIF..."
1239,SoundHound,North America,2005,$215M,Santa Clara,1.0,2018-05-03,Artificial intelligence,United States,"Tencent Holdings, Walden Venture Capital, Glob..."
1240,SoundHound,North America,2005,$215M,Santa Clara,1.0,2018-05-03,Other,United States,Tencent Holdings

In [13]:
# merged_df.rename(columns={"Date Joined_x": 'Date_Joined', 
#                           "City_x":'City', 
#                           "Industry_x":'Industry', 
#                           "Select Investors_x":'Select_Investors',
#                           "Valuation ($B)": 'Valuation_($B)',
#                           "Country":'Country/Region', 
#                           "Year Founded":'Year_Founded'},
#                            inplace=True)

In [14]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1241 entries, 0 to 1240
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          1241 non-null   object
 1   Continent        1077 non-null   object
 2   YearFounded      1077 non-null   Int64
 3   Funding          1077 non-null   object
 4   City             1223 non-null   object
 5   Valuation($B)    1241 non-null   object
 6   DateJoined       1241 non-null   object
 7   Industry         1241 non-null   object
 8   Country          1241 non-null   object
 9   SelectInvestors  1241 non-null   object
dtypes: Int64(1), object(9)
memory usage: 107.9+ KB

In [15]:
# Check duplicates again
has_duplicates = merged_df['Company'].duplicated().any()

if has_duplicates:
    print("The 'Company' column has duplicate values.")
else:
    print("The 'Company' column does not have duplicate values.")

The 'Company' column has duplicate values.

In [16]:
# Find and display the rows with duplicate values in the "Company" column
duplicate_rows = merged_df[merged_df['Company'].duplicated(keep=False)]
duplicate_rows

,Company,Continent,YearFounded,Funding,City,Valuation($B),DateJoined,Industry,Country,SelectInvestors
42,Bolt,Europe,2013,$1B,San Francisco,$11,10/8/2021,Fintech,United States,"Activant Capital, Tribe Capital, General Atlantic"
43,Bolt,Europe,2013,$1B,Tallinn,$8.4,5/29/2018,Auto & transportation,Estonia,"Didi Chuxing, Diamler, TMT Investments"
210,Branch,North America,2014,$667M,Redwood City,$4,9/10/2018,Mobile & telecommunications,United States,"New Enterprise Associates, Pear, Cowboy Ventures"
211,Branch,North America,2014,$667M,Columbus,$1.05,3/1/2022,Fintech,United States,"American Family Ventures, Greycroft, SignalFire"
529,ZocDoc,North America,2007,$374M,New York,$1.8,8/20/2015,Health,United States,"Founders Fund, Khosla Ventures, Goldman Sachs"
530,ZocDoc,North America,2007,$374M,New York,$1.8,8/20/2015,Health,United States,"Founders Fund, Khosla Ventures, Goldman Sachs"
664,Fabric,North America,2015,$294M,Bellevue,$1.5,2/24/2022,E-commerce & direct-to-consumer,United States,"Redpoint Ventures, Norwest Venture Partners, S..."
665,Fabric,North America,2015,$294M,New York,$1,10/26/2021,"Supply chain, logistics, & delivery",United States,"Innovation Endeavors, Aleph, Temasek"
784,BrewDog,Europe,2007,$233M,Aberdeen,$1.24,4/10/2017,Consumer & retail,United Kingdom,"TSG Consumer Partners, Crowdcube"
785,BrewDog,Europe,2007,$233M,Aberdeen,$1.24,4/10/2017,Consumer & retail,United Kingdom,"TSG Consumer Partners, Crowdcube"
1239,SoundHound,North America,2005,$215M,Santa Clara,1.0,2018-05-03,Artificial intelligence,United States,"Tencent Holdings, Walden Venture Capital, Glob..."
1240,SoundHound,North America,2005,$215M,Santa Clara,1.0,2018-05-03,Other,United States,Tencent Holdings

In [17]:
# Removing duplicate values by keeping the first instance of the duplicate
merged_df = merged_df.drop_duplicates(subset='Company', keep='first')

In [18]:
# Check duplicates again
has_duplicates = merged_df['Company'].duplicated().any()

if has_duplicates:
    print("The 'Company' column has duplicate values.")
else:
    print("The 'Company' column does not have duplicate values.")

The 'Company' column does not have duplicate values.

In [19]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1235 entries, 0 to 1239
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          1235 non-null   object
 1   Continent        1071 non-null   object
 2   YearFounded      1071 non-null   Int64
 3   Funding          1071 non-null   object
 4   City             1217 non-null   object
 5   Valuation($B)    1235 non-null   object
 6   DateJoined       1235 non-null   object
 7   Industry         1235 non-null   object
 8   Country          1235 non-null   object
 9   SelectInvestors  1235 non-null   object
dtypes: Int64(1), object(9)
memory usage: 107.3+ KB

In [20]:
merged_df.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239],
           dtype='int64', length=1235)

In [21]:
# Listing column_names to check missing values
column_names = merged_df.columns.tolist()
print(column_names)

['Company', 'Continent', 'YearFounded', 'Funding', 'City', 'Valuation($B)', 'DateJoined', 'Industry', 'Country', 'SelectInvestors']

In [22]:
# Displaying missing values
Total_values = 1235
print(f"Total values: {Total_values}")
for column in column_names:
    missing_count = merged_df[column].isna().sum()
    print(f"Missing values in '{column}' column: {missing_count} | Percentage of missing values: {(missing_count/Total_values) * 100:0.2f} %")

Total values: 1235
Missing values in 'Company' column: 0 | Percentage of missing values: 0.00 %
Missing values in 'Continent' column: 164 | Percentage of missing values: 13.28 %
Missing values in 'YearFounded' column: 164 | Percentage of missing values: 13.28 %
Missing values in 'Funding' column: 164 | Percentage of missing values: 13.28 %
Missing values in 'City' column: 18 | Percentage of missing values: 1.46 %
Missing values in 'Valuation($B)' column: 0 | Percentage of missing values: 0.00 %
Missing values in 'DateJoined' column: 0 | Percentage of missing values: 0.00 %
Missing values in 'Industry' column: 0 | Percentage of missing values: 0.00 %
Missing values in 'Country' column: 0 | Percentage of missing values: 0.00 %
Missing values in 'SelectInvestors' column: 0 | Percentage of missing values: 0.00 %

In [23]:
# Checking NaN values in DataFrame
is_nan = pd.isna(merged_df['Continent'])
nan_valuation_df = merged_df[is_nan]
nan_valuation_df

,Company,Continent,YearFounded,Funding,City,Valuation($B),DateJoined,Industry,Country,SelectInvestors
0,ByteDance,NaN,<NA>,NaN,Beijing,$140,4/7/2017,Artificial intelligence,China,"Sequoia Capital China, SIG Asia Investments, S..."
21,Yuanqi Senlin,NaN,<NA>,NaN,Beijing,$15,3/1/2020,Consumer & retail,China,"Sequoia Capital China, Longfor Capitalm, Gaoro..."
32,Bitmain Technologies,NaN,<NA>,NaN,Beijing,$12,7/6/2018,Hardware,China,"Coatue Management, Sequoia Capital China, IDG ..."
45,Weilong,NaN,<NA>,NaN,Luohe,$10.88,5/8/2021,Consumer & retail,China,"Tencent Holdings, Hillhouse Capital Management..."
55,KuCoin,NaN,<NA>,NaN,Victoria,$10,5/10/2022,Fintech,Seychelles,"IDG Capital, Matrix Partners China, Jump Crypto"
93,We Doctor,NaN,<NA>,NaN,Hangzhou,$7,9/22/2015,Health,China,"Tencent, Morningside Group"
122,RELEX,NaN,<NA>,NaN,Helsinki,$5.7,2/17/2022,"Supply chain, logistics, & delivery",Finland,"Blackstone, Technology Crossover Ventures, Sum..."
123,The Boring Company,NaN,<NA>,NaN,Pflugerville,$5.7,4/20/2022,Other,United States,"VY Capital, 8VC, Craft Ventures"
151,VerSe Innovation(Dailyhunt),NaN,<NA>,NaN,Bengaluru,$5,12/22/2020,Internet software & services,India,"Falcon Edge Capital, Omidyar Network, Sequoia ..."
161,SonarSource,NaN,<NA>,NaN,Geneva,$4.7,4/26/2022,Internet software & services,Switzerland,"Advent International,General Catalyst,Insight ..."
216,Abnormal Security,NaN,<NA>,NaN,San Francisco,$4,5/10/2022,Cybersecurity,United States,"Greylock Partners, Insight Partners,Menlo Vent..."
233,Autograph,NaN,<NA>,NaN,Santa Monica,$3.66,1/20/2022,Internet software & services,United States,01 Advisors. Kleiner Perkins Caufield & Byers....
252,Helion Energy,NaN,<NA>,NaN,Redmond,$3.50,11/5/2021,Other,United States,"Mithril Capital Management, Y Combinator, Capr..."
278,Eikon Therapeutics,NaN,<NA>,NaN,Hayward,$3.2,1/6/2022,Health,United States,"The Column Group, Foresite Capital, Foresite C..."
291,FlixMobility,NaN,<NA>,NaN,Munich,$3,7/18/2019,Auto & transportation,Germany,"Holtzbrinck Ventures, Unternehmertum Venture C..."
299,Lucid Software,NaN,<NA>,NaN,South Jordan,$3,6/29/2021,Internet software & services,United States,"Spectrum Equity, ICONIQ Capital, Grayhawk Capital"
326,Flink,NaN,<NA>,NaN,Berlin,$2.85,12/1/2021,E-commerce & direct-to-consumer,Germany,"Mubadala Capital, Bond, Prosus Ventures"
338,Tridge,NaN,<NA>,NaN,Seoul,$2.7,8/24/2022,Internet software & services,South Korea,"Forest Partners, Softbank Ventures Asia"
341,BackBase,NaN,<NA>,NaN,Amsterdam,$2.66,6/9/2022,Fintech,Netherlands,Motive Partners
353,Cribl,NaN,<NA>,NaN,San Francisco,$2.5,8/25/2021,Data management & analytics,United States,"Institutional Venture Partners, CRV, Sequoia C..."
371,Coda Payments,NaN,<NA>,NaN,NaN,$2.5,4/15/2022,Fintech,Singapore,"GIC. Apis Partners, Insight Partners"
379,EquipmentShare,NaN,<NA>,NaN,Columbia,$2.41,5/1/2020,Fintech,United States,"Romulus Capital, Insight Partners, RedBird Cap..."
388,Beta Technologies,NaN,<NA>,NaN,South Burlington,$2.4,4/19/2022,Other,United States,"The Rise Fund, Fidelity Investments. RedBird C..."
390,Freenome,NaN,<NA>,NaN,South San Francisco,$2.62,8/26/2020,Health,United States,"Andreessen Horowitz, Data Collective, Roche Ve..."
391,ManyPets,NaN,<NA>,NaN,London,$2.35,6/1/2021,Fintech,United Kingdom,"Octopus Ventures, Munich Re Ventures, CommerzV..."
397,Motive,NaN,<NA>,NaN,San Francisco,$2.85,4/23/2019,"Supply chain, logistics, & delivery",United States,"Google Ventures, Index Ventures, Scale Venture..."
405,Newfront Insurance,NaN,<NA>,NaN,San Francisco,$2.2,4/12/2022,Fintech,United States,"Founders Fund, Meritech Capital Partners, GS G..."
414,Motif FoodWorks,NaN,<NA>,NaN,Boston,$2.20,6/16/2021,Consumer & retail,United States,"General Atlantic, Breakthrough Energy Ventures..."
433,Babel Finance,NaN,<NA>,NaN,Hong Kong,$2,5/25/2022,Fintech,Hong Kong,"Dragonfly Capital, BAI Capital, 10T Fund"
434,BeZero,NaN,<NA>,NaN,London,$2,11/14/2022,Other,United Kingdom,"Molten Ventures, Contrarian Ventures, Hitachi ..."
436,Mysten Labs,NaN,<NA>,NaN,San Francisco,$2,9/8/2022,Internet software & services,United States,"Andreessen Horowitz, Coinbase Ventures, Circle..."
502,Salsify,NaN,<NA>,NaN,Boston,$2,4/13/2022,Internet software & services,United States,"Matrix Partners, North Bridge Venture Partners..."
503,CertiK,NaN,<NA>,NaN,New York,$2,3/31/2022,Cybersecurity,United States,"Tiger Global Management, Lightspeed Venture Pa..."
504,ROX Motor,NaN,<NA>,NaN,Shanghai,$2,4/29/2022,Auto & transportation,China,"Sequoia Capital China, IDG Capital, Qiming Ven..."
505,Hugging Face,NaN,<NA>,NaN,New York,$2,5/9/2022,Artificial intelligence,United States,"Betaworks Ventures, Addition, Lux Capital"
506,Devo Technology,NaN,<NA>,NaN,Cambridge,$2,10/26/2021,Data management & analytics,United States,"Insight Partners, Kibo Ventures, Bessemer Vent..."
507,Rimac Automobili,NaN,<NA>,NaN,Sveta Nedelja,$2,6/1/2022,Auto & transportation,Croatia,"Porsche, InvestIndustrial, SoftBank Group"
509,21.co,NaN,<NA>,NaN,New York,$2,9/6/2022,Fintech,United States,"Quiet Ventures, ETFS Capital, Collab+Currency"
511,ZigBang,NaN,<NA>,NaN,Seoul,$1.93,6/7/2022,Mobile & telecommunications,South Korea,"Black Pearl Ventures, Stonebridge Ventures, Yu..."
522,thatgamecompany,NaN,<NA>,NaN,Los Angeles,$1.94,3/3/2022,Internet software & services,United States,"Benchmark, Sequoia Capital, TPG Capital"
524,Material Bank,NaN,<NA>,NaN,Boca Raton,$1.9,5/6/2022,E-commerce & direct-to-consumer,United States,"Bain Capital Ventures, SoftBank Group, Fifth W..."
527,MEGAZONE,NaN,<NA>,NaN,Seoul,$1.83,8/16/2022,Internet software & services,South Korea,"Salesforce Ventures, ATP Investment, kt invest..."
536,Cambrian BioPharma,NaN,<NA>,NaN,Brooklyn,$1.79,10/26/2021,Health,United States,"Future Ventures, Apeiron Investment Group, Moo..."
540,Crusoe,NaN,<NA>,NaN,Denver,$1.75,4/21/2022,Internet software & services,United States,"Bain Capital Ventures, Founders Fund, Winklevo..."
543,AlphaSense,NaN,<NA>,NaN,New York,$1.7,6/15/2022,Artificial intelligence,United States,"Viking Global Investors, GS Growth, BlackRock"
547,Pax8,NaN,<NA>,NaN,Greenwood Village,$1.7,4/11/2022,Internet software & services,United States,"Liberty Global Ventures, Sageview Capital, Blu..."
548,Multiverse,NaN,<NA>,NaN,London,$1.7,6/8/2022,Edtech,United Kingdom,"Lightspeed Venture Partners, Google Ventures, ..."
549,Front,NaN,<NA>,NaN,San Francisco,$1.7,6/28/2022,Internet software & services,United States,"Sequoia Capital, Uncork Capital, Salesforce Ve..."
550,Redesign Health,NaN,<NA>,NaN,New York,$1.7,9/13/2022,Health,United States,"General Catalyst, Samsung NEXT, CVS Health Par..."
551,Tessera Therapeutics,NaN,<NA>,NaN,Cambridge,$1.69,4/19/2022,Health,United States,"Altitude Life Science Ventures, SoftBank Group..."
552,Uniswap,NaN,<NA>,NaN,New York,$1.66,10/13/2022,Fintech,United States,"A16z Crypto, Variant Fund, Paradigm"
553,FinAccel,NaN,<NA>,NaN,NaN,$1.66,8/15/2022,Fintech,Singapore,"Jungle Ventures, Square Peg Capital, OpenSpace..."
566,Incredible Health,NaN,<NA>,NaN,San Francisco,$1.65,8/17/2022,Health,United States,"Obvious Ventures, Andreessen Horowitz, NFX"
572,DataStax,NaN,<NA>,NaN,Santa Clara,$1.6,5/26/2021,Data management & analytics,United States,"Crosslink Capital, Meritech Capital Partners, ..."
580,Monte Carlo,NaN,<NA>,NaN,San Francisco,$1.6,5/24/2022,Artificial intelligence,United States,"GGV Capital, Accel, Redpoint Ventures"
581,Cresta,NaN,<NA>,NaN,San Francisco,$1.6,3/17/2022,Artificial Intelligence,United States,"Andreessen Horowitz, Greylock Partners, Sequoi..."
583,Generate Biomedicines,NaN,<NA>,NaN,Cambridge,$1.36,11/18/2021,Health,United States,"Altitude Life Science Ventures. T. Rowe Price,..."
593,Nord Security,NaN,<NA>,NaN,Vilnius,$1.6,4/7/2022,Cybersecurity,Lithuania,"General Catalyst, BaltCap, Novator Partners"
594,Vanta,NaN,<NA>,NaN,San Francisco,$1.6,6/7/2022,Cybersecurity,United States,"Craft Ventures, Sequoia Capital, Verissimo Ven..."
595,Magic Eden,NaN,<NA>,NaN,San Francisco,$1.6,6/21/2022,Fintech,United States,"Sequoia Capital, Lightspeed Venture Partners, ..."
596,Pave,NaN,<NA>,NaN,San Francisco,$1.6,6/28/2022,Internet software & services,United States,"Y Combinator, Andreessen Horowitz, Bessemer Ve..."
599,ICON 3D,NaN,<NA>,NaN,Austin,$1.57,2/18/2022,Hardware,United States,"Moderne Ventures, Oakhouse Partners, Bjarke In..."
600,Fresh Life Style Supply Chain Management,NaN,<NA>,NaN,Chengdu,$1.57,3/11/2022,"Supply chain, logistics, & delivery",China,"Guiyang Venture Capital, Longfor Capital, CAOG..."
606,Loom,NaN,<NA>,NaN,San Francisco,$1.53,5/20/2021,Internet software & services,United States,"Kleiner Perkins Caufield & Byers, Sequoia Capi..."
609,Gokin Solar,NaN,<NA>,NaN,Zhuhai,$1.51,4/13/2022,Other,China,"IDG Capital, Puluo Capital, Midea Capital"
612,Bilt Rewards,NaN,<NA>,NaN,New York,$1.5,10/25/2022,Fintech,United States,"Camber Creek, Kairos HQ, Fifth Wall Ventures"
614,Kushki,NaN,<NA>,NaN,Quito,$1.5,6/7/2022,Fintech,Ecuador,"Clocktower Technology Ventures, DILA Capital, ..."
615,Jasper,NaN,<NA>,NaN,Austin,$1.5,10/17/2022,Internet software & services,United States,"Foundation Capital, Institutional Venture Part..."
616,Orna Therapeutics,NaN,<NA>,NaN,Cambridge,$1.5,8/16/2022,Health,United States,"MPM Capital, Astellas Venture Management, F2 V..."
668,Upside,NaN,<NA>,NaN,DC,$1.5,4/26/2022,Mobile & telecommunications,United States,"Bessemer Venture Partners, Builders VC, Genera..."
669,Mashgin,NaN,<NA>,NaN,Palo Alto,$1.5,5/9/2022,Artificial intelligence,United States,"New Enterprise Associates, Matrix Partmers, Su..."
670,Dock,NaN,<NA>,NaN,Sao Paulo,$1.5,5/12/2022,Fintech,Brazil,"Viking Global Investors, Riverwood Capital, Li..."
671,Prometheus,NaN,<NA>,NaN,Santa Cruz,$1.50,9/23/2021,Other,United States,"BMW i Ventures, Metaplanet, Maersk Growth"
672,5ire,NaN,<NA>,NaN,London,$1.50,7/15/2022,Internet software & services,United Kingdom,"Global Emerging Markets, Sram & Mram Group, Ma..."
675,Arcadia,NaN,<NA>,NaN,DC,$1.48,5/10/2022,Other,United States,"BoxGroup, Energy Impact Partners, Camber Creek"
681,M1,NaN,<NA>,NaN,Chicago,$1.45,7/14/2021,Fintech,United States,"Left Lane Capital, Clocktower Technology Ventu..."
709,Bucketplace,NaN,<NA>,NaN,Seoul,$1.4,5/9/2022,E-commerce & direct-to-consumer,South Korea,"IMM Investment, Mirae Asset Capital, BOND"
710,Paddle,NaN,<NA>,NaN,London,$1.4,5/9/2022,Fintech,United Kingdom,"Notion Capital, Kindred Capital, BGF Ventures"
711,OneCard,NaN,<NA>,NaN,Pune,$1.4,7/13/2022,Fintech,India,"Sequoia Capital India, Hummingbird Ventures, M..."
712,boAT,NaN,<NA>,NaN,Mumbai,$1.4,10/28/2022,Consumer & retail,India,"Qualcomm Ventures, Fireside Ventures"
722,Nimble Rx,NaN,<NA>,NaN,Redwood City,$1.4,6/14/2022,Health,United States,"Sequoia Capital, Four Rivers Group, DAG Ventures"
724,Movable Ink,NaN,<NA>,NaN,New York,$1.36,4/28/2022,Internet software & services,United States,"Contour Venture Partners, Intel Capital, Silve..."
730,Jaguar Microsystems,NaN,<NA>,NaN,Shenzhen,$1.34,6/23/2022,Hardware,China,"Tencent Holdings, Glory Ventures, Shenzhen Cap..."
740,Shiprocket,NaN,<NA>,NaN,New Delhi,$1.3,8/16/2022,"Supply chain, logistics, & delivery",India,"Bertelsmann India Investments, March Capital P..."
761,Clipboard Health,NaN,<NA>,NaN,San Francisco,$1.3,2/1/2022,Internet software & services,United States,"Caffeinated Capital, Initialized Capital, Y Co..."
762,Biofourmis,NaN,<NA>,NaN,Boston,$1.3,4/26/2022,Health,United States,"General Atlantic, CVS Health, MassMutual Ventures"
764,Optibus,NaN,<NA>,NaN,Tel Aviv,$1.3,5/16/2022,"Supply chain, logistics, & delivery",Israel,"Bessemer Venture Partners, Insight Partners, P..."
765,Equashield,NaN,<NA>,NaN,Port Washington,$1.3,10/6/2022,Health,United States,Nordic Capital
770,Greater Bay Technology,NaN,<NA>,NaN,Guangzhou,$1.26,4/2/2022,Hardware,China,"Tencent Holdings, Utrust Venture Capital, GF X..."
771,JMGO,NaN,<NA>,NaN,Shenzhen,$1.26,3/15/2022,Hardware,China,"IDG Capital, Yuanda Venture Investment, Primit..."
782,airSlate,NaN,<NA>,NaN,Brookline,$1.25,6/16/2022,Internet software & services,United States,"G Squared, UiPath Ventures, General Catalyst"
783,ClassDojo,NaN,<NA>,NaN,San Francisco,$1.25,7/21/2022,Edtech,United States,"General Catalyst, Unkork Capital, Tencent Hold..."
788,SeatGeek,NaN,<NA>,NaN,New York,$1.24,8/31/2022,E-commerce & direct-to-consumer,United States,"Accel, Founder Collective, Brainchild Holdings"
791,inDriver,NaN,<NA>,NaN,Mountain View,$1.23,2/1/2021,Auto & transportation,United States,"Leta Capital, Insight Partners, General Catalyst"
794,Kallyope,NaN,<NA>,NaN,New York,$1.22,2/15/2022,Health,United States,"The Column Group, Alexandria Venture Investmen..."
795,Zip,NaN,<NA>,NaN,San Francisco,$1.2,5/25/2022,Fintech,United States,"CRV, Tiger Global Management, Y Combinator"
810,Rohlik Group,NaN,<NA>,NaN,Prague,$1.2,7/1/2021,"Supply chain, logistics, & delivery",Czech Republic,"Partech Partners, Index Ventures, Quadrille Ca..."
830,Nova Labs,NaN,<NA>,NaN,San Francisco,$1.2,2/22/2022,Internet software & services,United States,"FirstMark Capital, Tiger Global Management, FT..."
831,Choco,NaN,<NA>,NaN,Berlin,$1.2,4/12/2022,E-commerce & direct-to-consumer,Germany,"Bessemer Venture Partners, G Squared, Insight ..."
832,Viz.ai,NaN,<NA>,NaN,San Francisco,$1.2,4/7/2022,Artificial Intelligence,United States,"Kleiner Perkins Caufield & Byers, CRV, Thresho..."
833,Unit,NaN,<NA>,NaN,New York,$1.2,5/17/2022,Fintech,United States,"Accel, Better Tomorrow Ventures, Flourish Vent..."
834,stori,NaN,<NA>,NaN,Juarez,$1.2,7/15/2022,Fintech,Mexico,"Vision Plus Capital, Source Code Capital, Ligh..."
835,Spectrum Medical,NaN,<NA>,NaN,Gloucester,$1.2,7/18/2022,Health,United Kingdom,CVC Capital Partners
836,Swiftly,NaN,<NA>,NaN,Seattle,$1.2,9/19/2022,Mobile & telecommunications,United States,"Mendacre, BRV Capital Management, Liquid 2 Ven..."
845,SOURCE Global,NaN,<NA>,NaN,Scottsdale,$1.16,4/29/2022,Other,United States,"Breakthrough Energy Ventures, Material Impact,..."
853,DANA,NaN,<NA>,NaN,Jakarta,$1.13,8/10/2022,Fintech,Indonesia,"Ant Group, Lazada, Sinar Mas Indonesia"
855,Visby Medical,NaN,<NA>,NaN,San Jose,$1.12,3/1/2022,Health,United States,"Artiman Ventures, Pitango Venture Capital, Val..."
856,Invoca,NaN,<NA>,NaN,Santa Barbara,$1.1,6/14/2022,Artificial intelligence,United States,"Upfront Ventures, Accel, Industry Ventures"
857,Wasabi,NaN,<NA>,NaN,Boston,$1.1,9/27/2022,Internet software & services,United States,"Forestay Capital, Alumni Ventures, NTT DoCoMo ..."
858,Flexe,NaN,<NA>,NaN,Seattle,$1,4/21/2022,"Supply chain, logistics, & delivery",United States,"Redpoint Ventures, Prologis Ventures, Madrona ..."
875,Caribou,NaN,<NA>,NaN,Denver,$1.1,5/23/2022,Fintech,United States,"CMFG Ventures, Accomplice, Moderne Ventures"
876,Nowports,NaN,<NA>,NaN,Monterrey,$1.1,5/24/2022,"Supply chain, logistics, & delivery",Mexico,"Monashees+, Foundation Capital, Base10 Partners"
893,IntelyCare,NaN,<NA>,NaN,Quincy,$1.1,4/6/2022,Health,United States,"Kaiser Permanente Ventures, Endeavour Vision, ..."
894,Teleport,NaN,<NA>,NaN,Oakland,$1.1,5/3/2022,Cybersecurity,United States,"Kleiner Perkins Caufield & Byers, s28 Capital,..."
895,Imply Data,NaN,<NA>,NaN,Burlingame,$1.1,5/17/2022,Data management & analytics,United States,"Andreessen Horowitz, Bessemer Venture Partners..."
896,Material Security,NaN,<NA>,NaN,Redwood City,$1.1,5/11/2022,Cybersecurity,United States,"Andreessen Horowitz, Founders Fund"
897,PhysicsWallah,NaN,<NA>,NaN,Uttar Pradesh,$1.1,6/7/2022,Edtech,India,"GSV Ventures, WestBridge Capital"
898,Recover,NaN,<NA>,NaN,Banyeres de Mariola,$1.1,6/9/2022,Other,Spain,"Goldman Sachs Asset Management, STORY3 Capital..."
899,Purplle,NaN,<NA>,NaN,Mumbai,$1.1,6/9/2022,E-commerce & direct-to-consumer,India,"Blume Ventures, JSW Ventures, IvyCap Ventures"
904,Cirkul,NaN,<NA>,NaN,Sarasota,$1.07,6/13/2022,Consumer & retail,United States,"AF Ventures, Siddhi Capital, SC.Holdings"
908,0x,NaN,<NA>,NaN,San Francisco,$1.05,4/26/2022,Fintech,United States,"Jump Capital, Pantera Capital, Greylock Partners"
916,Ample,NaN,<NA>,NaN,San Francisco,$1.02,11/11/2021,Hardware,United States,"Shell Ventures, Blackstone, Moore Strategic Ve..."
918,Wheel,NaN,<NA>,NaN,Austin,$1.01,1/19/2022,Health,United States,"Silverton Partners, Tusk Ventures, CRV"
919,Flow,NaN,<NA>,NaN,New York,$1,8/15/2022,Fintech,United States,Andreessen Horowitz
920,Xanadu,NaN,<NA>,NaN,Toronto,$1,11/9/2022,Hardware,Canada,"BDC Capital, Georgian, Bessemer Venture Partners"
921,LINE MAN Wongnai,NaN,<NA>,NaN,Bangkok,$1,9/26/2022,E-commerce & direct-to-consumer,Thailand,"BRV Capital Management, Bualuang Ventures"
922,Celestia,NaN,<NA>,NaN,Vaduz,$1,10/19/2022,Internet software & services,Liechtenstein,"Placeholder Capital, Coinbase Ventures, Binanc..."
923,Stability AI,NaN,<NA>,NaN,London,$1,10/5/2022,Internet software & services,United Kingdom,"Lightspeed Venture Partners, Coatue Management"
924,Vesttoo,NaN,<NA>,NaN,Tel Aviv-Yafo,$1,10/25/2022,Fintech,Israel,"Mouro Capital, Hanaco Venture Capital, Gramerc..."
925,Satispay,NaN,<NA>,NaN,Milan,$1,9/28/2022,Fintech,Italy,"Lightrock, Greyhound Capital, Endeavor"
926,Paystand,NaN,<NA>,NaN,Scotts Valley,$1,8/2/2022,Fintech,United States,"BlueRun Ventures, LEAP Global Partners, Cervin..."
927,Turntide Technologies,NaN,<NA>,NaN,Sunnyvale,$1,6/15/2022,Auto & transportation,United States,"Meson Capital Partners, Fifth Wall Ventures, O..."
928,EcoVadis,NaN,<NA>,NaN,Paris,$1,6/14/2022,"Supply chain, logistics, & delivery",France,"Astorg Partners, Princeville Global, Beyond Ne..."
929,TransferMate,NaN,<NA>,NaN,Kilkenny,$1,5/22/2022,Fintech,Ireland,Railway Pension Trustee Co. Ltd.
931,Perimeter 81,NaN,<NA>,NaN,Tel Aviv,$1,6/6/2022,Cybersecurity,Israel,"Insight Partners, Toba Capital, Spring Ventures"
934,Zebec,NaN,<NA>,NaN,San Francisco,$1,8/29/2022,Fintech,United States,"Resolute Ventures, Shima Capital, Circle Ventures"
1038,Augustinus Bader,NaN,<NA>,NaN,United Kingdom,$1,11/9/2022,Consumer & retail,London,General Atlantic
1117,IGAWorks,NaN,<NA>,NaN,Seoul,$1,11/8/2021,Internet software & services,South Korea,"Korea Investment Private Equity, Atinum Invest..."
1168,Vendr,NaN,<NA>,NaN,Boston,$1,2/24/2022,Fintech,United States,"Craft Ventures, F-Prime Capital, Sound Ventures"
1178,BostonGene,NaN,<NA>,NaN,Waltham,$1,4/6/2022,Health,United States,"Japan Industrial Partners, Impact Investment C..."
1179,Grover,NaN,<NA>,NaN,Berlin,$1,4/7/2022,E-commerce & direct-to-consumer,Germany,"Varengold Bank, Circularity Capital, Coparion"
1180,Genies,NaN,<NA>,NaN,Venice,$1,4/12/2022,Internet software & services,United States,"New Enterprise Associates, Tull Investment Gro..."
1181,Oyster,NaN,<NA>,NaN,Wilmington,$1,4/20/2022,Fintech,United States,"Emergence Capital, Slack Fund, PayPal Ventures"
1182,NexHealth,NaN,<NA>,NaN,San Francisco,$1,4/21/2022,Health,United States,"iSeed Ventures, Point Nine Capital, Buckley Ve..."
1183,Instabox,NaN,<NA>,NaN,Stockholm,$1,4/21/2022,"Supply chain, logistics, & delivery",Sweden,"Creades, EQT Ventures, Verdane Capital"
1184,UPSIDE Foods,NaN,<NA>,NaN,Berkeley,$1,4/21/2022,Other,United States,"Battery Ventures, Adams Street Partners, Coatu..."
1185,Factorial,NaN,<NA>,NaN,Barcelona,$1,10/11/2022,Internet software & services,Spain,"K Fund, Creandum, CRV"
1186,Divergent 3D,NaN,<NA>,NaN,Torrance,$1,4/25/2022,Auto & transportation,United States,"Hedosophia, Horizons Ventures, Alumni Ventures..."
1187,Taxfix,NaN,<NA>,NaN,Berlin,$1,4/28/2022,Fintech,Germany,"Valar Ventures, Index Ventures, Creandum"
1188,Open,NaN,<NA>,NaN,Bengaluru,$1,5/2/2022,Fintech,India,"3one4 Capital Partners, Tiger Global Managemen..."
1189,Polarium,NaN,<NA>,NaN,Kista,$1,5/3/2022,Other,Sweden,AMF Pensionsforsakring
1190,Opn,NaN,<NA>,NaN,Tokyo,$1,5/9/2022,Fintech,Japan,"Sinar Mas Digital Ventures, JIC Venture Growth..."
1191,Remarkable,NaN,<NA>,NaN,Oslo,$1,5/10/2022,Internet software & services,Norway,Spark Capital
1192,Habi,NaN,<NA>,NaN,Bogota,$1,5/11/2022,Fintech,Colombia,"Homebrew, Inspired Capital, Tiger Global Manag..."

In [24]:
# Pivoted the df to display the valuation of each company categorized by Industry
# pivoted_df = merged_df.pivot(index='Company', columns='Industry', values='Valuation($B)')
# pivoted_df

# I feel this is a bit useless to my current use, so I disabled it for now

In [25]:
# Melted the df to display the valuation of each company
filtered_df = merged_df[['Company', 'Valuation($B)']]
melted_df = filtered_df.melt(id_vars='Company', var_name='Attribute', value_name='Value')
melted_df

                                       Company      Attribute   Value
0                                    ByteDance  Valuation($B)    $140
1                                       SpaceX  Valuation($B)    $127
2                                        SHEIN  Valuation($B)    $100
3                                       Stripe  Valuation($B)     $95
4                                        Canva  Valuation($B)     $40
5                                 Checkout.com  Valuation($B)     $40
6                                    Instacart  Valuation($B)     $39
7                                   Databricks  Valuation($B)     $38
8                                      Revolut  Valuation($B)     $33
9                                   Epic Games  Valuation($B)   $31.5
10                                         FTX  Valuation($B)     $32
11                                    Fanatics  Valuation($B)     $27
12                                       Chime  Valuation($B)     $25
13                                      BYJU's  Valuation($B)     $22
14                                 Xiaohongshu  Valuation($B)     $20
15                                 J&T Express  Valuation($B)     $20
16                                        Miro  Valuation($B)   $17.5
17                                   Yuanfudao  Valuation($B)   $15.5
18                             DJI Innovations  Valuation($B)     $15
19                                     Discord  Valuation($B)     $15
20                                      goPuff  Valuation($B)     $15
21                               Yuanqi Senlin  Valuation($B)     $15
22                                      Ripple  Valuation($B)     $15
23                              Blockchain.com  Valuation($B)     $14
24                                       Plaid  Valuation($B)   $13.5
25                                     OpenSea  Valuation($B)   $13.3
26                                     Celonis  Valuation($B)     $13
27                                   Grammarly  Valuation($B)     $13
28                              Devoted Health  Valuation($B)   $12.6
29                                       Faire  Valuation($B)  $12.59
30                                        Brex  Valuation($B)   $12.3
31                                   JUUL Labs  Valuation($B)     $12
32                        Bitmain Technologies  Valuation($B)     $12
33                      Biosplice Therapeutics  Valuation($B)     $12
34                                    GoodLeap  Valuation($B)     $12
35                          Xingsheng Selected  Valuation($B)     $12
36                                        Deel  Valuation($B)     $12
37                                       Getir  Valuation($B)   $11.8
38                                    Airtable  Valuation($B)   $11.7
39                           ZongMu Technology  Valuation($B)   $11.4
40                                    Rippling  Valuation($B)  $11.25
41                               Global Switch  Valuation($B)   $11.1
42                                        Bolt  Valuation($B)     $11
43                                     Alchemy  Valuation($B)   $10.2
44                                     Weilong  Valuation($B)  $10.88
45                                      Swiggy  Valuation($B)   $10.7
46                                    Lalamove  Valuation($B)     $10
47                                       Gusto  Valuation($B)     $10
48                                   Chehaoduo  Valuation($B)     $10
49                                      reddit  Valuation($B)     $10
50                                    Talkdesk  Valuation($B)     $10
51                                 Notion Labs  Valuation($B)     $10
52                                     Thrasio  Valuation($B)     $10
53                      Digital Currency Group  Valuation($B)     $10
54                                      KuCoin  Valuation($B)     $10
55                                  OutSystems  Valuation($B)    $9.5
56                                ServiceTitan  Valuation($B)    $9.5
57                                      HEYTEA  Valuation($B)   $9.28
58                                         N26  Valuation($B)   $9.23
59                                     Klaviyo  Valuation($B)    $9.2
60                                 TripActions  Valuation($B)    $9.2
61                                   Northvolt  Valuation($B)   $9.08
62                                      Tanium  Valuation($B)      $9
63                                     Niantic  Valuation($B)      $9
64                                   OYO Rooms  Valuation($B)      $9
65                                       Rapyd  Valuation($B)   $8.75
66                                       Kavak  Valuation($B)    $8.7
67                                        Snyk  Valuation($B)    $8.6
68                                        Nuro  Valuation($B)    $8.6
69                                 Chainalysis  Valuation($B)    $8.6
70                                     Pony.ai  Valuation($B)    $8.5
71                                    Personio  Valuation($B)    $8.5
72                                       SumUp  Valuation($B)    $8.5
73                                    Lacework  Valuation($B)    $8.3
74                                     Tipalti  Valuation($B)    $8.3
75                                      Tempus  Valuation($B)    $8.1
76                                        Ramp  Valuation($B)    $8.1
77                                     Dream11  Valuation($B)      $8
78                                  Fireblocks  Valuation($B)      $8
79                                    Flexport  Valuation($B)      $8
80                                     FalconX  Valuation($B)      $8
81                         Caris Life Sciences  Valuation($B)   $7.83
82                                 Dapper Labs  Valuation($B)    $7.6
83                                       Hopin  Valuation($B)   $7.75
84                                    Netskope  Valuation($B)    $7.5
85                                    Razorpay  Valuation($B)    $7.5
86                                  Automattic  Valuation($B)    $7.5
87                                       Carta  Valuation($B)    $7.4
88                                    Scale AI  Valuation($B)    $7.3
89                                     Argo AI  Valuation($B)   $7.25
90                                        Gong  Valuation($B)   $7.25
91                                      Gemini  Valuation($B)    $7.1
92                                   We Doctor  Valuation($B)      $7
93                                          Ro  Valuation($B)      $7
94                                   ConsenSys  Valuation($B)      $7
95                         Automation Anywhere  Valuation($B)    $6.8
96                                   1Password  Valuation($B)    $6.8
97                                      Klarna  Valuation($B)    $6.7
98                                      Ziroom  Valuation($B)    $6.6
99                                       SVOLT  Valuation($B)   $6.51
100           National Stock Exchange of India  Valuation($B)    $6.5
101                                     Mollie  Valuation($B)    $6.5
102                                   Ola Cabs  Valuation($B)    $7.5
103                                   Doctolib  Valuation($B)    $6.4
104                                  DataRobot  Valuation($B)    $6.3
105                                    Upgrade  Valuation($B)   $6.28
106                               Hinge Health  Valuation($B)    $6.2
107                      Black Unicorn Factory  Valuation($B)    $6.1
108                                  Benchling  Valuation($B)    $6.1
109                         Royole Corporation  Valuation($B)      $6
110                                 Better.com  Valuation($B)      $6
111                                        Wiz  Valuation($B)      $6
112                           iCapital Network  Valuation($B)      $6
113                                     6Sense  Valuation($B)    $5.2
114                                  Attentive  Valuation($B)   $5.99
115                                   Easyhome  Valuation($B)   $5.78
116                                    Lianjia  Valuation($B)   $5.77
117                                 Vice Media  Valuation($B)    $5.7
118                           Cityblock Health  Valuation($B)    $5.7
119                                    Workato  Valuation($B)    $5.7
120                                Back Market  Valuation($B)    $5.7
121                                      RELEX  Valuation($B)    $5.7
122                         The Boring Company  Valuation($B)    $5.7
123                                    Postman  Valuation($B)    $5.6
124                                   FiveTran  Valuation($B)    $5.6
125                              ContentSquare  Valuation($B)    $5.6
126                             Trade Republic  Valuation($B)   $5.36
127                                      Rappi  Valuation($B)   $5.25
128                                   Collibra  Valuation($B)   $5.25
129                                   OneTrust  Valuation($B)    $5.1
130                                QuintoAndar  Valuation($B)    $5.1
131                                    C6 Bank  Valuation($B)   $5.05
132                            Hello TransTech  Valuation($B)      $5
133                                  Airwallex  Valuation($B)    $5.5
134                                      Mambu  Valuation($B)    $5.5
135                                       Toss  Valuation($B)   $6.38
136                           Horizon Robotics  Valuation($B)      $5
137                                   WM Motor  Valuation($B)      $5
138                      Howden Group Holdings  Valuation($B)      $5
139                          SambaNova Systems  Valuation($B)      $5
140                                       ZEPZ  Valuation($B)      $5
141                              OakNorth Bank  Valuation($B)      $5
142                                Moon Active  Valuation($B)      $5
143                                 OfBusiness  Valuation($B)      $5
144                             Cockroach Labs  Valuation($B)      $5
145                                  Pine Labs  Valuation($B)      $5
146                                      Qonto  Valuation($B)      $5
147                      Ola Electric Mobility  Valuation($B)      $5
148                                    Icertis  Valuation($B)      $5
149                                     Hopper  Valuation($B)      $5
150                VerSe Innovation(Dailyhunt)  Valuation($B)      $5
151                                  ShareChat  Valuation($B)      $5
152                                  Coalition  Valuation($B)      $5
153                                     Meesho  Valuation($B)    $4.9
154                                   Cerebral  Valuation($B)    $4.8
155                                   Creditas  Valuation($B)    $4.8
156                               Reify Health  Valuation($B)    $4.8
157                                    Chipone  Valuation($B)   $4.73
158                                   BetterUp  Valuation($B)    $4.7
159                                       Pleo  Valuation($B)    $4.7
160                                SonarSource  Valuation($B)    $4.7
161                                    Anduril  Valuation($B)    $4.6
162                                Lyra Health  Valuation($B)   $5.85
163                                    Dataiku  Valuation($B)    $4.6
164                                     Checkr  Valuation($B)    $4.6
165                                      Color  Valuation($B)    $4.6
166                                   Lendable  Valuation($B)   $4.58
167                                     Vinted  Valuation($B)   $4.53
168                                     VIPKid  Valuation($B)    $4.5
169                                     Socure  Valuation($B)    $4.5
170                                      Monzo  Valuation($B)    $4.5
171                            UBTECH Robotics  Valuation($B)   $4.58
172                                      wefox  Valuation($B)    $4.5
173                                   Lenskart  Valuation($B)    $4.5
174                                   Outreach  Valuation($B)    $4.4
175                                     WeRide  Valuation($B)    $4.4
176                            Guild Education  Valuation($B)    $4.4
177                       Arctic Wolf Networks  Valuation($B)    $4.3
178                                     Sorare  Valuation($B)    $4.3
179                           Relativity Space  Valuation($B)    $4.2
180                            Miaoshou Doctor  Valuation($B)   $4.25
181                                ThoughtSpot  Valuation($B)    $4.2
182                     Globalization Partners  Valuation($B)    $4.2
183                                   dbt Labs  Valuation($B)    $4.2
184                                     SSENSE  Valuation($B)   $4.15
185                                   Dataminr  Valuation($B)    $4.1
186                                   BitPanda  Valuation($B)   $4.11
187                                      Weee!  Valuation($B)    $4.1
188                             Skydance Media  Valuation($B)      $4
189                                      Houzz  Valuation($B)      $4
190                                       CRED  Valuation($B)   $4.01
191                               Yello Mobile  Valuation($B)      $4
192                                     MEGVII  Valuation($B)      $4
193                                  Greensill  Valuation($B)      $4
194                           Impossible Foods  Valuation($B)      $4
195                         Radiology Partners  Valuation($B)      $4
196                             Next Insurance  Valuation($B)      $4
197                                    Patreon  Valuation($B)      $4
198                             PointClickCare  Valuation($B)      $4
199                                     Zapier  Valuation($B)      $4
200                                  Clubhouse  Valuation($B)      $4
201                               BrowserStack  Valuation($B)      $4
202                                      Olive  Valuation($B)      $4
203                                     Rubrik  Valuation($B)      $4
204                                      Melio  Valuation($B)      $4
205                                      Vuori  Valuation($B)      $4
206                                    ClickUp  Valuation($B)      $4
207                           Cerebras Systems  Valuation($B)      $4
208                   Farmers Business Network  Valuation($B)      $4
209                                     Branch  Valuation($B)      $4
210                               Aurora Solar  Valuation($B)      $4
211                                    Webflow  Valuation($B)      $4
212                                  Yuga Labs  Valuation($B)      $4
213                            Digit Insurance  Valuation($B)      $4
214                          Abnormal Security  Valuation($B)      $4
215                                  Medlinker  Valuation($B)   $3.92
216                      Intarcia Therapeutics  Valuation($B)    $3.8
217                                     StockX  Valuation($B)    $3.8
218                                MessageBird  Valuation($B)    $3.8
219                                     Convoy  Valuation($B)    $3.8
220                                 Articulate  Valuation($B)   $3.75
221                                    Dutchie  Valuation($B)   $3.75
222                                   Cohesity  Valuation($B)    $3.7
223                                  VAST Data  Valuation($B)    $3.7
224                                       GOAT  Valuation($B)    $3.7
225                                       Noom  Valuation($B)    $3.7
226                          Redwood Materials  Valuation($B)    $3.7
227                              Papaya Global  Valuation($B)    $3.7
228                                     Abogen  Valuation($B)    $3.7
229                                    Harness  Valuation($B)    $3.7
230                                    Whatnot  Valuation($B)    $3.7
231                                  Autograph  Valuation($B)   $3.66
232                                 Relativity  Valuation($B)    $3.6
233                                      Whoop  Valuation($B)    $3.6
234                          Applied Intuition  Valuation($B)    $3.6
235                                Course Hero  Valuation($B)    $3.6
236                                     SpotOn  Valuation($B)    $3.6
237                       Otto Bock HealthCare  Valuation($B)   $3.52
238                                  Indigo Ag  Valuation($B)    $3.5
239                                  HyalRoute  Valuation($B)    $3.5
240                                   Rec Room  Valuation($B)    $3.5
241                                    Commure  Valuation($B)    $3.5
242                                     Mirakl  Valuation($B)    $3.5
243                                     Tekion  Valuation($B)    $3.5
244                            Celsius Network  Valuation($B)    $3.5
245                                  GoStudent  Valuation($B)    $3.5
246                                   Highspot  Valuation($B)    $3.5
247                                  Handshake  Valuation($B)    $3.5
248                     ChargeBee Technologies  Valuation($B)    $3.5
249                               Flock Safety  Valuation($B)    $3.5
250                              Helion Energy  Valuation($B)   $3.50
251                                    Acronis  Valuation($B)    $3.5
252                                  Unacademy  Valuation($B)   $3.44
253                                    MoonPay  Valuation($B)    $3.4
254                                     Upstox  Valuation($B)    $3.4
255                                 Improbable  Valuation($B)   $3.36
256                              Youxia Motors  Valuation($B)   $3.35
257                                  OwnBackup  Valuation($B)   $3.35
258                                  Starburst  Valuation($B)   $3.35
259                              Starling Bank  Valuation($B)   $3.34
260                                      ECARX  Valuation($B)   $3.31
261                      Sila Nanotechnologies  Valuation($B)    $3.3
262                                    Scopely  Valuation($B)    $3.3
263                              Komodo Health  Valuation($B)    $3.3
264                                      Kurly  Valuation($B)    $3.3
265                                     Cars24  Valuation($B)    $3.3
266                                BlockDaemon  Valuation($B)   $3.25
267                                Dadi Cinema  Valuation($B)   $3.24
268                                      Aiven  Valuation($B)   $3.21
269                                  Thumbtack  Valuation($B)    $3.2
270                                      Cedar  Valuation($B)    $3.2
271               Eruditus Executive Education  Valuation($B)    $3.2
272                                Blockstream  Valuation($B)    $3.2
273                                 Innovaccer  Valuation($B)    $3.2
274                                   Ironclad  Valuation($B)    $3.2
275                                      Skims  Valuation($B)    $3.2
276                         Eikon Therapeutics  Valuation($B)    $3.2
277                                     Retool  Valuation($B)    $3.2
278                                    Verkada  Valuation($B)    $3.2
279                                 PsiQuantum  Valuation($B)   $3.15
280                                      Udaan  Valuation($B)    $3.1
281                                 HighRadius  Valuation($B)    $3.1
282                                  Nuvemshop  Valuation($B)    $3.1
283                                      Yixia  Valuation($B)      $3

In [26]:
# Clean "DateJoined" and create "YearJoined" column
merged_df['YearJoined'] = merged_df['DateJoined'].str.extract(r'(\d{4})').astype(int)
merged_df.head()

,Company,Continent,YearFounded,Funding,City,Valuation($B),DateJoined,Industry,Country,SelectInvestors,YearJoined
0,ByteDance,NaN,<NA>,NaN,Beijing,$140,4/7/2017,Artificial intelligence,China,"Sequoia Capital China, SIG Asia Investments, S...",2017
1,SpaceX,North America,2002,$7B,Hawthorne,$127,12/1/2012,Other,United States,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012
2,SHEIN,Asia,2008,$2B,Shenzhen,$100,7/3/2018,E-commerce & direct-to-consumer,China,"Tiger Global Management, Sequoia Capital China...",2018
3,Stripe,North America,2010,$2B,San Francisco,$95,1/23/2014,Fintech,United States,"Khosla Ventures, LowercaseCapital, capitalG",2014
4,Canva,Oceania,2012,$572M,Surry Hills,$40,1/8/2018,Internet software & services,Australia,"Sequoia Capital China, Blackbird Ventures, Mat...",2018

In [27]:
# Defining "YearsToUnicorn" column by applying a custom function to calculate 
def calculate_years_to_unicorn(row):
    return row['YearJoined'] - row['YearFounded']

# Apply the custom function to the DataFrame using df.apply()
merged_df['YearsToUnicorn'] = merged_df.apply(calculate_years_to_unicorn, axis=1)
merged_df.head()

,Company,Continent,YearFounded,Funding,City,Valuation($B),DateJoined,Industry,Country,SelectInvestors,YearJoined,YearsToUnicorn
0,ByteDance,NaN,<NA>,NaN,Beijing,$140,4/7/2017,Artificial intelligence,China,"Sequoia Capital China, SIG Asia Investments, S...",2017,<NA>
1,SpaceX,North America,2002,$7B,Hawthorne,$127,12/1/2012,Other,United States,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,10
2,SHEIN,Asia,2008,$2B,Shenzhen,$100,7/3/2018,E-commerce & direct-to-consumer,China,"Tiger Global Management, Sequoia Capital China...",2018,10
3,Stripe,North America,2010,$2B,San Francisco,$95,1/23/2014,Fintech,United States,"Khosla Ventures, LowercaseCapital, capitalG",2014,4
4,Canva,Oceania,2012,$572M,Surry Hills,$40,1/8/2018,Internet software & services,Australia,"Sequoia Capital China, Blackbird Ventures, Mat...",2018,6

In [28]:
# Boolean mask for rows where the "Country" column is equal to "Indonesia"
indonesia_mask = merged_df['Country'] == 'Indonesia'

indonesia_df = merged_df[indonesia_mask]

indonesia_df.head(10)

,Company,Continent,YearFounded,Funding,City,Valuation($B),DateJoined,Industry,Country,SelectInvestors,YearJoined,YearsToUnicorn
15,J&T Express,Asia,2015,$5B,Jakarta,$20,4/7/2021,"Supply chain, logistics, & delivery",Indonesia,"Hillhouse Capital Management, Boyu Capital, Se...",2021,6
286,Traveloka,Asia,2012,$1B,Jakarta,$3,1/1/2017,Travel,Indonesia,"Global Founders Capital, East Ventures, Expedi...",2017,5
498,Akulaku,Asia,2014,$438M,Jakarta,$2,2/15/2022,E-commerce & direct-to-consumer,Indonesia,"DCM Ventures, IDG Capital, Siam Commercial Bank",2022,8
853,DANA,NaN,<NA>,NaN,Jakarta,$1.13,8/10/2022,Fintech,Indonesia,"Ant Group, Lazada, Sinar Mas Indonesia",2022,<NA>
1090,Xendit,Asia,2014,$215M,Jakarta,$1,9/14/2021,Fintech,Indonesia,"Accel, Y Combinator, Amasia",2021,7
1099,Ajaib,Asia,2018,$245M,Jakarta,$1,10/4/2021,Fintech,Indonesia,"Softbank Ventures Asia, Alpha JWC Ventures, In...",2021,3
1144,Kopi Kenangan,Asia,2017,$333M,Jakarta,$1,12/27/2021,Consumer & retail,Indonesia,"Horizons Ventures, Sequoia Capital India, Alph...",2021,4

In [29]:
# Querying Industries with "Artificial intelligence"
filtered_df = merged_df.query("Industry == 'Artificial intelligence' and Continent == 'Asia' or Industry == 'Artificial Intelligence' and Continent == 'Asia'")
filtered_df

,Company,Continent,YearFounded,Funding,City,Valuation($B),DateJoined,Industry,Country,SelectInvestors,YearJoined,YearsToUnicorn
137,Horizon Robotics,Asia,2015,$2B,Beijing,$5,2/27/2019,Artificial intelligence,China,"Hillhouse Capital Management, Linear Venture, ...",2019,4
193,MEGVII,Asia,2011,$1B,Beijing,$4,10/31/2017,Artificial intelligence,China,"Ant Financial Services Group, Russia-China Inv...",2017,6
417,Hesai Tech,Asia,2013,$717M,Shanghai,$2.18,8/1/2020,Artificial intelligence,China,"Lightspeed China Partners, Baidu Ventures, Qim...",2020,7
418,YITU Technology,Asia,2012,$401M,Shanghai,$2.17,3/8/2018,Artificial intelligence,China,"Sequoia Capital China, Banyan Capital",2018,6
442,Preferred Networks,Asia,2014,$147M,Tokyo,$2,5/17/2018,Artificial intelligence,Japan,"Toyota Motor Corporation, Mizuho Financial Gro...",2018,4
444,4Paradigm,Asia,2015,$1B,Beijing,$2,12/19/2018,Artificial intelligence,China,"Sequoia Capital China, China Construction Bank...",2018,3
473,XtalPi,Asia,2014,$786M,Shenzhen,$2,8/11/2021,Artificial intelligence,China,"Tencent Holdings, 5Y Capital, Sequoia Capital ...",2021,7
481,Black Sesame Technologies,Asia,2016,$115M,Shanghai,$2,9/22/2021,Artificial intelligence,China,"Northern Light Venture Capital, Xiaomi, Future...",2021,5
482,Advance Intelligence Group,Asia,2016,$536M,NaN,$2,9/23/2021,Artificial intelligence,Singapore,"Vision Plus Capital, GSR Ventures, ZhenFund",2021,5
495,Trax,Asia,2010,$1B,NaN,$2,7/22/2019,Artificial intelligence,Singapore,"Hopu Investment Management, Boyu Capital, DC T...",2019,9
533,Lightricks,Asia,2013,$305M,Jerusalem,$1.8,7/31/2019,Artificial intelligence,Israel,"Viola Ventures, Insight Partners, ClalTech, Go...",2019,6
676,Shukun Technology,Asia,2017,$211M,Beijing,$1.46,8/16/2021,Artificial Intelligence,China,"Marathon Venture Partners, Huagai Capital, Chi...",2021,4
725,DeepBlue Technology,Asia,2014,$79M,Shanghai,$1.35,4/16/2018,Artificial intelligence,China,"DESUN Capital, Yunfeng Capital, Meridian Capital",2018,4
737,Unisound,Asia,2012,$361M,Beijing,$1.31,7/19/2018,Artificial intelligence,China,"Qiming Venture Partners, China Internet Invest...",2018,6
757,TUNGEE,Asia,2016,$171M,Guangzhou,$1.3,12/15/2021,Artificial Intelligence,China,"UNITY VENTURES, Qiming Venture Partners, GGV C...",2021,5
805,Aibee,Asia,2017,$273M,Beijing,$1,4/13/2021,Artificial intelligence,China,"Sequoia Capital China, Lenovo Capital and Incu...",2021,4
809,SmartMore,Asia,2019,$300M,Shenzhen,$1.2,6/24/2021,Artificial Intelligence,China,"IDG Capital, ZhenFund, Sequoia Capital China",2021,2
839,Mininglamp Technology,Asia,2014,$787M,Beijing,$1.19,3/27/2019,Artificial intelligence,China,"Russia-China Investment Fund, Tencent Holdings...",2019,5
874,Hailo,Asia,2017,$221M,Tel Aviv,$1,10/12/2021,Artificial intelligence,Israel,"Glory Ventures, Maniv Mobility",2021,4
915,OrCam Technologies,Asia,2010,$86M,Jerusalem,$1.03,2/20/2018,Artificial intelligence,Israel,"Intel Capital, Aviv Venture Capital",2018,8
949,iCarbonX,Asia,2015,$200M,Shenzhen,$1,4/12/2016,Artificial intelligence,China,"Tencent, Vcanbio",2016,1
974,Momenta,Asia,2016,$1B,Beijing,$1,10/17/2018,Artificial intelligence,China,"Sinovation Ventures, Tencent Holdings, Sequoia...",2018,2
982,Intellifusion,Asia,2014,$173M,Shenzhen,$1,3/22/2019,Artificial intelligence,China,"BOC International, TopoScend Capital, Hongxiu VC",2019,5
1143,Haomao.AI,Asia,2019,$157M,Beijing,$1,12/22/2021,Artificial Intelligence,China,"Qualcomm Ventures, Nine Intelligence Capital, ...",2021,2
1203,Bytedance,Asia,2012,$8B,Beijing,180.0,2017-04-07,Artificial intelligence,China,"Sequoia Capital China, SIG Asia Investments, S...",2017,5
1212,CloudWalk Technology,Asia,2015,$514M,Guangzhou,5.0,2018-10-08,Artificial intelligence,China,"Oriza Holdings, Guangdong Technology Financial...",2018,3

In [30]:
group_summary = filtered_df['YearsToUnicorn'].agg(['min', 'max', 'mean', 'sum'])
group_summary

min       1.00
max       9.00
mean      4.69
sum     122.00
Name: YearsToUnicorn, dtype: float64

In [31]:
# Current columns with missing values:
# Missing values in 'Continent' column: 164 | Percentage of missing values: 13.28 %
# Missing values in 'YearFounded' column: 164 | Percentage of missing values: 13.28 %
# Missing values in 'Funding' column: 164 | Percentage of missing values: 13.28 %
# Missing values in 'City' column: 18 | Percentage of missing values: 1.46 %

# Solutions:
# NaN 'YearFounded' column will be filled with the mean of said column to replace all the NaN values
# NaN 'YearsToUnicorn' column will be filled after 'YearFounded' column have been filled
# NaN 'Funding' column will be transformed into a float to calculate the mean, before puting the values back in as well as adding a new column 'Funding_Numeric'
# 'City' and 'Continent' is left as is for now.

In [32]:
# Checking datatypes
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1235 entries, 0 to 1239
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          1235 non-null   object
 1   Continent        1071 non-null   object
 2   YearFounded      1071 non-null   Int64
 3   Funding          1071 non-null   object
 4   City             1217 non-null   object
 5   Valuation($B)    1235 non-null   object
 6   DateJoined       1235 non-null   object
 7   Industry         1235 non-null   object
 8   Country          1235 non-null   object
 9   SelectInvestors  1235 non-null   object
 10  YearJoined       1235 non-null   int64
 11  YearsToUnicorn   1071 non-null   object
dtypes: Int64(1), int64(1), object(10)
memory usage: 126.6+ KB

In [33]:
# YearFounded_Mean
YearFounded_Mean = int(merged_df["YearFounded"].mean())
print("Mean of year companies are found =", YearFounded_Mean)

Mean of year companies are found = 2012

In [34]:
merged_df["YearFounded"] = merged_df["YearFounded"].fillna(YearFounded_Mean)

In [35]:
# Checking datatypes, NaN values in "YearFounded" has been replaced with the mean of the column 
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1235 entries, 0 to 1239
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          1235 non-null   object
 1   Continent        1071 non-null   object
 2   YearFounded      1235 non-null   Int64
 3   Funding          1071 non-null   object
 4   City             1217 non-null   object
 5   Valuation($B)    1235 non-null   object
 6   DateJoined       1235 non-null   object
 7   Industry         1235 non-null   object
 8   Country          1235 non-null   object
 9   SelectInvestors  1235 non-null   object
 10  YearJoined       1235 non-null   int64
 11  YearsToUnicorn   1071 non-null   object
dtypes: Int64(1), int64(1), object(10)
memory usage: 126.6+ KB

In [36]:
# NaN values in "YearFounded" has been replaced with the mean of the column 
merged_df.head()

,Company,Continent,YearFounded,Funding,City,Valuation($B),DateJoined,Industry,Country,SelectInvestors,YearJoined,YearsToUnicorn
0,ByteDance,NaN,2012,NaN,Beijing,$140,4/7/2017,Artificial intelligence,China,"Sequoia Capital China, SIG Asia Investments, S...",2017,<NA>
1,SpaceX,North America,2002,$7B,Hawthorne,$127,12/1/2012,Other,United States,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,10
2,SHEIN,Asia,2008,$2B,Shenzhen,$100,7/3/2018,E-commerce & direct-to-consumer,China,"Tiger Global Management, Sequoia Capital China...",2018,10
3,Stripe,North America,2010,$2B,San Francisco,$95,1/23/2014,Fintech,United States,"Khosla Ventures, LowercaseCapital, capitalG",2014,4
4,Canva,Oceania,2012,$572M,Surry Hills,$40,1/8/2018,Internet software & services,Australia,"Sequoia Capital China, Blackbird Ventures, Mat...",2018,6

In [37]:
# Recalculating companies 'YearsToUnicorn'
merged_df['YearsToUnicorn'] = merged_df.apply(calculate_years_to_unicorn, axis=1)
merged_df.head()

,Company,Continent,YearFounded,Funding,City,Valuation($B),DateJoined,Industry,Country,SelectInvestors,YearJoined,YearsToUnicorn
0,ByteDance,NaN,2012,NaN,Beijing,$140,4/7/2017,Artificial intelligence,China,"Sequoia Capital China, SIG Asia Investments, S...",2017,5
1,SpaceX,North America,2002,$7B,Hawthorne,$127,12/1/2012,Other,United States,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,10
2,SHEIN,Asia,2008,$2B,Shenzhen,$100,7/3/2018,E-commerce & direct-to-consumer,China,"Tiger Global Management, Sequoia Capital China...",2018,10
3,Stripe,North America,2010,$2B,San Francisco,$95,1/23/2014,Fintech,United States,"Khosla Ventures, LowercaseCapital, capitalG",2014,4
4,Canva,Oceania,2012,$572M,Surry Hills,$40,1/8/2018,Internet software & services,Australia,"Sequoia Capital China, Blackbird Ventures, Mat...",2018,6

In [38]:
# YearsToUnicorn columns filled after replacing YearsFounded with mean of said column
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1235 entries, 0 to 1239
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          1235 non-null   object
 1   Continent        1071 non-null   object
 2   YearFounded      1235 non-null   Int64
 3   Funding          1071 non-null   object
 4   City             1217 non-null   object
 5   Valuation($B)    1235 non-null   object
 6   DateJoined       1235 non-null   object
 7   Industry         1235 non-null   object
 8   Country          1235 non-null   object
 9   SelectInvestors  1235 non-null   object
 10  YearJoined       1235 non-null   int64
 11  YearsToUnicorn   1235 non-null   int64
dtypes: Int64(1), int64(2), object(9)
memory usage: 126.6+ KB

In [39]:
merged_df["Funding"]

0           NaN
1           $7B
2           $2B
3           $2B
4         $572M
5           $2B
6           $3B
7           $3B
8           $2B
9           $7B
10          $2B
11          $4B
12          $2B
13          $4B
14        $918M
15          $5B
16        $476M
17          $4B
18        $105M
19        $979M
20          $3B
21          NaN
22        $294M
23        $490M
24        $734M
25        $427M
26          $1B
27        $400M
28          $2B
29          $1B
30          $1B
31         $14B
32          NaN
33        $799M
34        $800M
35          $5B
36        $629M
37          $2B
38          $1B
39        $376M
40        $447M
41          $5B
42          $1B
44        $564M
45          NaN
46          $5B
47          $2B
48        $691M
49          $4B
50          $1B
51        $497M
52        $343M
53          $2B
54          $1B
55          NaN
56        $572M
57          $1B
58        $594M
59          $2B
60        $679M
61        $912M
62          $4B
63        $775M
64        $770M
65          $3B
66        $770M
67          $2B
68          $1B
69          $2B
70        $367M
71          $1B
72        $524M
73          $1B
74          $2B
75        $549M
76        $820M
77        $660M
78          $2B
79          $1B
80          $2B
81        $324M
82          $1B
83        $607M
84          $1B
85          $1B
86        $742M
87        $859M
88          $1B
89        $603M
90          $4B
91        $583M
92        $424M
93          NaN
94          $1B
95        $660M
96        $849M
97        $920M
98          $4B
99          $2B
100         $3B
101       $297M
102       $928M
103         $4B
104       $815M
105         $1B
106       $587M
107       $826M
108       $645M
109       $412M
110       $492M
111       $405M
112       $600M
113       $729M
114       $426M
115       $863M
116         $2B
117         $1B
118         $1B
119       $891M
120       $415M
121         $1B
122         NaN
123         NaN
124       $433M
125       $728M
126       $812M
127       $996M
128         $2B
129       $596M
130       $926M
131       $755M
132         $2B
133         $2B
134       $802M
135       $448M
136       $844M
137         $2B
138         $4B
139       $187M
140         $1B
141       $655M
142         $1B
143       $425M
144       $734M
145       $633M
146       $903M
147       $704M
148       $761M
149       $371M
150       $599M
151         NaN
152         $1B
153       $505M
154         $1B
155       $462M
156       $824M
157       $259M
158         $1B
159       $567M
160       $428M
161         NaN
162       $691M
163       $910M
164       $647M
165       $559M
166       $497M
167       $286M
168       $562M
169         $1B
170       $644M
171         $1B
172       $943M
173       $919M
174       $776M
175       $489M
176         $1B
177       $379M
178       $498M
179       $739M
180         $1B
181       $947M
182       $664M
183       $350M
184       $414M
185     Unknown
186         $1B
187       $546M
188       $864M
189       $275M
190       $614M
191       $922M
192       $216M
193         $1B
194         $2B
195         $2B
196         $1B
197       $881M
198       $413M
199       $230M
200         $1M
201       $110M
202       $250M
203       $856M
204       $553M
205       $504M
206       $445M
207       $535M
208       $720M
209       $870M
210       $667M
212       $523M
213       $335M
214       $450M
215       $531M
216         NaN
217       $761M
218         $1B
219       $495M
220         $1B
221       $666M
222         $2B
223       $603M
224       $660M
225       $263M
226       $493M
227       $657M
228       $792M
229       $440M
230         $1B
231       $195M
232       $225M
233         NaN
234       $125M
235       $404M
236       $352M
237       $477M
238       $628M
239         $0M
240         $1B
241       $263M
242       $294M
243       $542M
244       $948M
245       $435M
246       $864M
247       $685M
248       $643M
249       $434M
250       $468M
251       $381M
252         NaN
253       $408M
254       $789M
255       $555M
256        $54M
257       $754M
258         $1B
259       $507M
260       $414M
261       $791M
262       $394M
263       $880M
264       $999M
265       $314M
266       $770M
267         $1B
268       $398M
269       $154M
270       $210M
271       $698M
272       $326M
273       $591M
274       $299M
275       $379M
276       $334M
277       $399M
278         NaN
279        $96M
280       $139M
281       $665M
282         $1B
283       $475M
284       $628M
285       $775M
286         $1B
287         $1B
288       $696M
289       $711M
290         $3B
291         NaN
292       $180M
293       $483M
294       $525M
295       $351M
296         $1B
297       $360M
298       $975M
299         NaN
300       $500M
301       $523M
302       $333M
303       $330M
304       $427M
305       $535M
306         $1B
307       $311M
308       $240M
309       $339M
310       $393M
311       $419M
312       $777M
313       $487M
314       $187M
315       $329M
316       $474M
317       $328M
318       $775M
319       $496M
320       $127M
321       $119M
322         $1B
323       $722M
324       $788M
325       $551M
326         NaN
327       $364M
328         $1B
329       $483M
330       $682M
331       $558M
332       $461M
333       $468M
334       $583M
335         $2B
336       $861M
337       $200M
338         NaN
339       $417M
340       $403M
341         NaN
342       $706M
343       $248M
344       $357M
345       $722M
346       $471M
347       $395M
348       $768M
349       $407M
350       $237M
351       $148M
352       $440M
353         NaN
354       $418M
355         $1B
356       $314M
357       $274M
358       $987M
359       $532M
360       $500M
361       $313M
362       $730M
363       $543M
364       $607M
365       $465M
366       $280M
367       $225M
368       $366M
369        $75M
370       $582M
371         NaN
372       $325M
373       $274M
374       $544M
375       $376M
376       $714M
377       $536M
378       $125M
379         NaN
380       $682M
381       $634M
382       $538M
383       $390M
384       $401M
385       $660M
386       $419M
387       $498M
388         NaN
389       $818M
390         NaN
391         NaN
392       $902M
393       $397M
394       $285M
395       $517M
396       $218M
397         NaN
398       $557M
399       $497M
400       $229M
401       $434M
402       $423M
403       $334M
404       $277M
405         NaN
406       $550M
407       $287M
408       $402M
409       $378M
410       $525M
411       $400M
412       $710M
413       $422M
414         NaN
415       $298M
416       $193M
417       $717M
418       $401M
419       $676M
420       $160M
421       $408M
422       $345M
423       $109M
424       $441M
425       $397M
426       $371M
427       $277M
428       $305M
429       $507M
430       $529M
431       $593M
432       $268M
433         NaN
434         NaN
435       $200M
436         NaN
437       $658M
438       $216M
439       $449M
440       $517M
441       $226M
442       $147M
443       $251M
444         $1B
445       $218M
446       $545M
447       $503M
448       $475M
449       $235M
450       $293M
451       $614M
452       $356M
453       $950M
454       $365M
455       $373M
456     Unknown
457        $98M
458       $523M
459       $433M
460       $121M
461       $569M
462       $550M
463       $407M
464       $496M
465       $388M
466       $566M
467       $342M
468       $281M
469       $381M
470       $507M
471       $192M
472       $285M
473       $786M
474       $370M
475       $640M
476       $570M
477       $341M
478       $410M
479       $527M
480       $296M
481       $115M
482       $536M
483       $183M
484         $3B
485       $587M
486       $300M
487       $475M
488       $299M
489       $339M
490       $432M
491       $161M
492       $202M
493       $296M
494       $315M
495         $1B
496       $450M
497       $410M
498       $438M
499       $100M
500       $448M
501       $194M
502         NaN
503         NaN
504         NaN
505         NaN
506         NaN
507         NaN
508       $439M
509         NaN
510       $435M
511         NaN
512       $422M
513       $390M
514       $487M
515       $349M
516       $101M
517       $450M
518       $295M
519       $301M
520       $507M
521       $365M
522         NaN
523       $300M
524         NaN
525       $599M
526         $1B
527         NaN
528        $19M
529       $374M
531       $351M
532       $172M
533       $305M
534       $240M
535       $249M
536         NaN
537       $792M
538       $474M
539       $509M
540         NaN
541       $632M
542       $116M
543         NaN
544       $792M
545       $542M
546       $403M
547         NaN
548         NaN
549         NaN
550         NaN
551         NaN
552         NaN
553         NaN
554       $195M
555       $315M
556       $200M
557       $663M
558       $358M
559       $237M
560       $251M
561       $275M
562       $577M
563       $261M
564       $231M
565       $179M
566         NaN
567       $137M
568       $298M
569       $612M
570       $445M
571       $403M
572         NaN
573       $325M
574       $120M
575       $744M
576       $496M
577       $450M
578       $386M
579       $222M
580         NaN
581         NaN
582       $320M
583         NaN
584       $225M
585       $380M
586       $190M
587       $152M
588       $219M
589       $255M
590       $421M
591       $236M
592       $282M
593         NaN
594         NaN
595         NaN
596         NaN
597       $556M
598        $14M
599         NaN
600         NaN
601       $156M
602       $224M
603       $186M
604        $90M
605       $504M
606         NaN
607        $71M
608       $946M
609         NaN
610       $223M
611       $210M
612         NaN
613       $211M
614         NaN
615         NaN
616         NaN
617       $755M
618       $650M
619       $828M
620       $267M
621       $188M
622       $572M
623        $96M
624       $511M
625       $503M
626       $719M
627       $152M
628       $331M
629       $271M
630     Unknown
631       $142M
632       $253M
633       $302M
634       $466M
635       $203M
636       $207M
637       $261M
638       $225M
639       $370M
640       $257M
641       $236M
642       $217M
643       $127M
644       $310M
645       $218M
646       $150M
647       $381M
648       $289M
649       $100M
650       $119M
651       $245M
652       $665M
653       $320M
654       $253M
655       $181M
656       $190M
657        $29M
658       $314M
659       $177M
660       $150M
661       $435M
662       $299M
663       $129M
664       $294M
666       $340M
667        $45M
668         NaN
669         NaN
670         NaN
671         NaN
672         NaN
673       $658M
674       $362M
675         NaN
676       $211M
677       $218M
678       $281M
679       $432M
680       $262M
681         NaN
682       $228M
683       $151M
684       $143M
685       $188M
686       $183M
687       $240M
688       $241M
689       $165M
690       $170M
691       $237M
692       $286M
693       $264M
694       $368M
695       $511M
696       $151M
697       $407M
698         $1B
699       $181M
700       $169M
701       $509M
702       $436M
703       $521M
704       $240M
705       $456M
706       $426M
707       $329M
708       $328M
709         NaN
710         NaN
711         NaN
712         NaN
713       $163M
714       $384M
715       $318M
716       $303M
717       $314M
718       $382M
719       $141M
720       $271M
721       $202M
722         NaN
723       $720M
724         NaN
725        $79M
726       $722M
727       $496M
728       $287M
729       $390M
730         NaN
731       $276M
732       $178M
733       $211M
734        $67M
735       $252M
736       $115M
737       $361M
738        $94M
739       $568M
740         NaN
741       $610M
742       $633M
743       $231M
744        $10M
745       $310M
746     Unknown
747       $378M
748       $335M
749       $399M
750       $291M
751       $201M
752       $408M
753       $128M
754       $130M
755       $102M
756       $336M
757       $171M
758       $227M
759       $166M
760       $215M
761         NaN
762         NaN
763       $205M
764         NaN
765         NaN
766       $241M
767       $324M
768       $227M
769       $307M
770         NaN
771         NaN
772       $246M
773       $594M
774       $116M
775       $325M
776       $260M
777       $257M
778       $148M
779       $157M
780       $482M
781       $165M
782         NaN
783         NaN
784       $233M
786       $472M
787        $43M
788         NaN
789       $700M
790        $45M
791         NaN
792       $520M
793       $167M
794         NaN
795         NaN
796       $800M
797         $2B
798       $266M
799         $9M
800       $347M
801       $264M
802       $309M
803       $268M
804       $161M
805       $273M
806       $738M
807       $352M
808       $191M
809       $300M
810         NaN
811       $315M
812       $230M
813       $281M
814       $189M
815       $337M
816       $124M
817       $271M
818       $148M
819       $448M
820       $310M
821       $111M
822       $177M
823       $430M
824       $345M
825       $189M
826       $317M
827       $118M
828       $427M
829       $573M
830         NaN
831         NaN
832         NaN
833         NaN
834         NaN
835         NaN
836         NaN
837       $236M
838        $33M
839       $787M
840       $144M
841       $554M
842       $167M
843       $197M
844       $875M
845         NaN
846       $344M
847       $174M
848       $339M
849       $150M
850       $323M
851       $192M
852       $396M
853         NaN
854       $292M
855         NaN
856         NaN
857         NaN
858         NaN
859       $361M
860       $431M
861       $136M
862         $1B
863       $656M
864       $134M
865       $274M
866       $433M
867       $340M
868       $346M
869       $202M
870       $130M
871       $210M
872       $164M
873       $258M
874       $221M
875         NaN
876         NaN
877       $200M
878       $288M
879       $193M
880       $169M
881       $304M
882       $458M
883       $120M
884        $90M
885       $404M
886       $128M
887       $185M
888       $166M
889       $186M
890       $205M
891       $307M
892       $140M
893         NaN
894         NaN
895         NaN
896         NaN
897         NaN
898         NaN
899         NaN
900       $406M
901        $53M
902       $154M
903       $188M
904         NaN
905       $200M
906       $247M
907       $111M
908         NaN
909       $250M
910       $132M
911       $221M
912       $217M
913       $277M
914        $62M
915        $86M
916         NaN
917         $1B
918         NaN
919         NaN
920         NaN
921         NaN
922         NaN
923         NaN
924         NaN
925         NaN
926         NaN
927         NaN
928         NaN
929         NaN
930       $282M
931         NaN
932         $2B
933       $336M
934         NaN
935       $221M
936        $52M
937       $250M
938       $224M
939       $130M
940       $131M
941       $283M
942       $308M
943       $232M
944       $300M
945       $330M
946       $223M
947       $315M
948       $340M
949       $200M
950       $255M
951     Unknown
952       $252M
953       $990M
954       $394M
955       $379M
956       $549M
957       $547M
958       $182M
959        $15M
960       $871M
961       $300M
962       $682M
963       $330M
964       $302M
965       $523M
966       $253M
967       $325M
968       $588M
969        $60M
970       $369M
971       $359M
972       $697M
973        $51M
974         $1B
975       $139M
976       $396M
977       $623M
978       $170M
979         $2B
980       $310M
981       $393M
982       $173M
983     Unknown
984       $187M
985     Unknown
986       $306M
987         $2B
988       $293M
989        $93M
990       $538M
991       $105M
992       $460M
993       $612M
994       $524M
995       $127M
996       $279M
997        $62M
998       $192M
999       $200M
1000      $620M
1001      $140M
1002      $311M
1003      $192M
1004      $241M
1005      $226M
1006      $151M
1007      $336M
1008      $370M
1009      $114M
1010      $350M
1011      $150M
1012      $299M
1013      $239M
1014      $230M
1015      $340M
1016      $172M
1017      $265M
1018      $352M
1019      $259M
1020      $163M
1021      $277M
1022      $389M
1023      $165M
1024      $249M
1025      $257M
1026      $305M
1027      $362M
1028      $391M
1029       $17M
1030      $157M
1031        $1B
1032      $570M
1033      $192M
1034      $337M
1035      $174M
1036      $200M
1037      $172M
1038        NaN
1039      $545M
1040      $235M
1041       $80M
1042      $910M
1043      $206M
1044      $243M
1045      $128M
1046      $130M
1047      $100M
1048      $154M
1049      $210M
1050      $263M
1051      $105M
1052      $595M
1053      $120M
1054      $149M
1055      $185M
1056      $640M
1057       $92M
1058      $226M
1059      $125M
1060      $161M
1061       $91M
1062      $217M
1063      $331M
1064      $107M
1065      $187M
1066      $200M
1067    Unknown
1068      $214M
1069    Unknown
1070      $284M
1071      $135M
1072      $352M
1073      $285M
1074      $337M
1075      $238M
1076      $156M
1077      $135M
1078      $269M
1079      $202M
1080       $71M
1081      $328M
1082      $195M
1083       $86M
1084      $140M
1085      $800M
1086      $240M
1087      $382M
1088      $265M
1089      $252M
1090      $215M
1091      $271M
1092    Unknown
1093       $51M
1094      $229M
1095      $100M
1096      $975M
1097      $292M
1098      $156M
1099      $245M
1100      $489M
1101      $110M
1102      $254M
1103      $172M
1104      $310M
1105      $326M
1106      $249M
1107      $200M
1108      $792M
1109      $232M
1110      $390M
1111      $294M
1112      $144M
1113      $151M
1114      $163M
1115      $128M
1116      $167M
1117        NaN
1118      $269M
1119      $131M
1120      $325M
1121      $218M
1122      $800M
1123      $100M
1124      $126M
1125      $254M
1126      $258M
1127      $424M
1128      $205M
1129      $109M
1130      $492M
1131      $160M
1132    Unknown
1133      $330M
1134      $125M
1135      $463M
1136      $263M
1137      $766M
1138      $371M
1139      $141M
1140      $220M
1141      $484M
1142      $516M
1143      $157M
1144      $333M
1145      $600M
1146      $515M
1147      $685M
1148      $534M
1149      $166M
1150      $190M
1151      $107M
1152      $126M
1153      $299M
1154      $145M
1155      $205M
1156       $79M
1157      $273M
1158      $239M
1159       $70M
1160       $64M
1161      $182M
1162      $137M
1163      $181M
1164      $416M
1165      $449M
1166      $526M
1167      $585M
1168        NaN
1169       $45M
1170      $200M
1171      $152M
1172      $196M
1173      $273M
1174      $376M
1175      $314M
1176      $209M
1177      $143M
1178        NaN
1179        NaN
1180        NaN
1181        NaN
1182        NaN
1183        NaN
1184        NaN
1185        NaN
1186        NaN
1187        NaN
1188        NaN
1189        NaN
1190        NaN
1191        NaN
1192        NaN
1193        NaN
1194        NaN
1195        NaN
1196        NaN
1197        NaN
1198        NaN
1199        NaN
1200        NaN
1201        NaN
1202        NaN
1203        $8B
1204      $721M
1205      $765M
1206      $558M
1207      $333M
1208        $1B
1209      $803M
1210      $869M
1211      $943M
1212      $514M
1213      $503M
1214      $600M
1215        $1B
1216        $1B
1217        $1B
1218      $170M
1219      $477M
1220      $417M
1221      $381M
1222      $624M
1223      $417M
1224      $456M
1225      $650M
1226      $294M
1227      $323M
1228      $532M
1229    Unknown
1230      $475M
1231      $365M
1232      $380M
1233      $223M
1234      $408M
1235      $292M
1236      $592M
1237      $655M
1238      $200M
1239      $215M
Name: Funding, dtype: object

In [40]:
# Define a function to extract numeric values
def extract_numeric_value(value):
    match = re.search(r'\$(\d+(\.\d+)?)([BM]?)', str(value))
    if match:
        number = float(match.group(1))
        suffix = match.group(3)
        if suffix == 'B':
            number *= 1e9  # Convert to billions
        elif suffix == 'M':
            number *= 1e6  # Convert to millions
        return number
    else:
        return None

# Applying the function to convert the values in Funding
merged_df['Funding_Numeric'] = merged_df['Funding'].apply(extract_numeric_value)

# Calculate the mean of the numeric values
mean_value = merged_df['Funding_Numeric'].mean()

# Use SimpleImputer to replace NaN values with the mean
imputer = SimpleImputer(strategy='constant', fill_value=mean_value)
merged_df['Funding_Numeric'] = imputer.fit_transform(merged_df[['Funding_Numeric']])

merged_df["Funding_Numeric"].head()

0    5.58e+08
1    7.00e+09
2    2.00e+09
3    2.00e+09
4    5.72e+08
Name: Funding_Numeric, dtype: float64

In [44]:
def reconvert_extracted_numeric_value(number):
    if np.isnan(number):
        return np.nan
    suffix = ''
    if number >= 1e9:
        number /= 1e9
        suffix = 'B'
    elif number >= 1e6:
        number /= 1e6
        suffix = 'M'
    return f"${number:.1f}{suffix}"

merged_df['Funding'] = merged_df['Funding_Numeric'].apply(reconvert_extracted_numeric_value)

merged_df["Funding"].head()

0    $557.6M
1      $7.0B
2      $2.0B
3      $2.0B
4    $572.0M
Name: Funding, dtype: object

In [45]:
merged_df.head()

,Company,Continent,YearFounded,Funding,City,Valuation($B),DateJoined,Industry,Country,SelectInvestors,YearJoined,YearsToUnicorn,Funding_Numeric
0,ByteDance,NaN,2012,$557.6M,Beijing,$140,4/7/2017,Artificial intelligence,China,"Sequoia Capital China, SIG Asia Investments, S...",2017,5,5.58e+08
1,SpaceX,North America,2002,$7.0B,Hawthorne,$127,12/1/2012,Other,United States,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,10,7.00e+09
2,SHEIN,Asia,2008,$2.0B,Shenzhen,$100,7/3/2018,E-commerce & direct-to-consumer,China,"Tiger Global Management, Sequoia Capital China...",2018,10,2.00e+09
3,Stripe,North America,2010,$2.0B,San Francisco,$95,1/23/2014,Fintech,United States,"Khosla Ventures, LowercaseCapital, capitalG",2014,4,2.00e+09
4,Canva,Oceania,2012,$572.0M,Surry Hills,$40,1/8/2018,Internet software & services,Australia,"Sequoia Capital China, Blackbird Ventures, Mat...",2018,6,5.72e+08

In [52]:
# Realigning column order for better visualization
# new_column_order = ['Company', 'Industry', 'Continent', 'Country', 'City', 'YearFounded', 'YearJoined', 'YearsToUnicorn', 'Funding', 'Funding_Numeric', 'Valuation($B)', 'SelectInvestors']
merged_df = merged_df.sort_index(axis=1)

In [53]:
# Final Result
merged_df.head()

,City,Company,Continent,Country,Funding,Funding_Numeric,Industry,SelectInvestors,Valuation($B),YearFounded,YearJoined,YearsToUnicorn
0,Beijing,ByteDance,NaN,China,$557.6M,5.58e+08,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",$140,2012,2017,5
1,Hawthorne,SpaceX,North America,United States,$7.0B,7.00e+09,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",$127,2002,2012,10
2,Shenzhen,SHEIN,Asia,China,$2.0B,2.00e+09,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",$100,2008,2018,10
3,San Francisco,Stripe,North America,United States,$2.0B,2.00e+09,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",$95,2010,2014,4
4,Surry Hills,Canva,Oceania,Australia,$572.0M,5.72e+08,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",$40,2012,2018,6